<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Menu {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    <div class="menu-lateral">
    <ul>
        <li><a href="{{url_for('home')}}">Home</a></li>
        <li><a href="{{url_for('page1')}}">Pagina 1</a></li>
        <li><a href="{{url_for('page2')}}">Pagina 2</a></li>
    </ul>
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>